USE [master]
GO
/****** Object:  Database [QtecAccounts]    Script Date: 2025-06-29 6:30:01 AM ******/
CREATE DATABASE [QtecAccounts]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QtecAccounts', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QtecAccounts.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QtecAccounts_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QtecAccounts_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QtecAccounts].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QtecAccounts]
GO
/****** Object:  UserDefinedTableType [dbo].[JournalLineType]    Script Date: 2025-06-29 6:30:01 AM ******/
CREATE TYPE [dbo].[JournalLineType] AS TABLE(
	[AccountId] [int] NOT NULL,
	[Debit] [decimal](18, 2) NOT NULL,
	[Credit] [decimal](18, 2) NOT NULL
)
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2025-06-29 6:30:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 2025-06-29 6:30:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](125) NOT NULL,
	[Type] [nvarchar](12) NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JournalLines]    Script Date: 2025-06-29 6:30:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JournalLines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JournalId] [int] NOT NULL,
	[AccountId] [int] NOT NULL,
	[Debit] [decimal](18, 2) NOT NULL,
	[Credit] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_JournalLines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Journals]    Script Date: 2025-06-29 6:30:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Journals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Journals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250623231603_InitialCreate', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([Id], [Name], [Type]) VALUES (1, N'Cash A/C', N'Asset')
INSERT [dbo].[Accounts] ([Id], [Name], [Type]) VALUES (2, N'Bank A/C', N'Asset')
INSERT [dbo].[Accounts] ([Id], [Name], [Type]) VALUES (3, N'Receiable', N'Asset')
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[JournalLines] ON 

INSERT [dbo].[JournalLines] ([Id], [JournalId], [AccountId], [Debit], [Credit]) VALUES (1, 1, 2, CAST(0.00 AS Decimal(18, 2)), CAST(200.00 AS Decimal(18, 2)))
INSERT [dbo].[JournalLines] ([Id], [JournalId], [AccountId], [Debit], [Credit]) VALUES (2, 1, 1, CAST(200.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[JournalLines] ([Id], [JournalId], [AccountId], [Debit], [Credit]) VALUES (3, 2, 2, CAST(100.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[JournalLines] OFF
GO
SET IDENTITY_INSERT [dbo].[Journals] ON 

INSERT [dbo].[Journals] ([Id], [Date], [Description]) VALUES (1, CAST(N'2025-06-28T00:00:00.0000000' AS DateTime2), N'Accounts Test Transaction')
INSERT [dbo].[Journals] ([Id], [Date], [Description]) VALUES (2, CAST(N'2025-06-29T00:00:00.0000000' AS DateTime2), N'Testing Transaction')
SET IDENTITY_INSERT [dbo].[Journals] OFF
GO
/****** Object:  Index [IX_JournalLines_AccountId]    Script Date: 2025-06-29 6:30:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_JournalLines_AccountId] ON [dbo].[JournalLines]
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_JournalLines_JournalId]    Script Date: 2025-06-29 6:30:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_JournalLines_JournalId] ON [dbo].[JournalLines]
(
	[JournalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[JournalLines] ADD  DEFAULT ((0.0)) FOR [Debit]
GO
ALTER TABLE [dbo].[JournalLines] ADD  DEFAULT ((0.0)) FOR [Credit]
GO
ALTER TABLE [dbo].[JournalLines]  WITH CHECK ADD  CONSTRAINT [FK_JournalLines_Accounts_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JournalLines] CHECK CONSTRAINT [FK_JournalLines_Accounts_AccountId]
GO
ALTER TABLE [dbo].[JournalLines]  WITH CHECK ADD  CONSTRAINT [FK_JournalLines_Journals_JournalId] FOREIGN KEY([JournalId])
REFERENCES [dbo].[Journals] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JournalLines] CHECK CONSTRAINT [FK_JournalLines_Journals_JournalId]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateAccount]    Script Date: 2025-06-29 6:30:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateAccount]
    @Name NVARCHAR(100),
    @Type NVARCHAR(50),
    @NewId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

	    -- Check if the account is used in any journal lines
    IF EXISTS (
        SELECT 1
        FROM Accounts
        WHERE Name = @Name
    )
    BEGIN
        -- Account is used, do not delete
        RAISERROR('Account Name already exist', 16, 1);
        RETURN;
    END



    INSERT INTO Accounts (Name, Type)
    VALUES (@Name, @Type);

    SET @NewId = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateJournalEntry]    Script Date: 2025-06-29 6:30:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateJournalEntry]
    @Date DATE,
    @Description NVARCHAR(255),
    @Lines JournalLineType READONLY 
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Insert into JournalEntries table
        INSERT INTO Journals ([Date], [Description])
        VALUES (@Date, @Description);

        DECLARE @JournalId INT = SCOPE_IDENTITY();

        -- Insert each line into JournalEntryLines table
        INSERT INTO JournalLines (JournalId, AccountId, Debit, Credit)
        SELECT @JournalId, AccountId, Debit, Credit
        FROM @Lines;

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteAccount]    Script Date: 2025-06-29 6:30:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteAccount]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if the account is used in any journal lines
    IF EXISTS (
        SELECT 1
        FROM JournalLines
        WHERE AccountId = @Id
    )
    BEGIN
        -- Account is used, do not delete
        RAISERROR('Account cannot be deleted because it is used in journal entries.', 16, 1);
        RETURN;
    END

    -- Account not used, proceed to delete
    DELETE FROM Accounts
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAccounts]    Script Date: 2025-06-29 6:30:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAccounts]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Id,
        Name,
        Type
    FROM 
        Accounts
    ORDER BY 
        Name;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetJournalsDetails]    Script Date: 2025-06-29 6:30:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetJournalsDetails]
  @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        j.Id,
        j.Date,
        j.Description,
        SUM(ISNULL(l.Debit, 0) + ISNULL(l.Credit, 0)) AS TotalAmount,
        a.Name AS AccountName,
        l.Debit,
        l.Credit
    FROM Journals j
    LEFT JOIN JournalLines l ON j.Id = l.JournalId
    LEFT JOIN Accounts a ON a.Id = l.AccountId
	Where j.Id = @Id
    GROUP BY 
        j.Id, j.Date, j.Description, a.Name, l.Debit, l.Credit
    ORDER BY 
        j.Id DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetJournalsSummary]    Script Date: 2025-06-29 6:30:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetJournalsSummary]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        j.Id,
        j.Date,
        j.Description,
        SUM(ISNULL(l.Debit, 0)) AS TotalAmount
    FROM 
        Journals j
    INNER JOIN 
        JournalLines l ON j.Id = l.JournalId
    GROUP BY 
        j.Id, j.Date, j.Description
    ORDER BY 
        j.Date DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTrialBalance]    Script Date: 2025-06-29 6:30:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetTrialBalance]
AS
BEGIN
    SET NOCOUNT ON;

SELECT 
    a.Id,
    a.Name AS Account,
    a.Type,
    ISNULL(SUM(jl.Debit), 0) AS Debit,
    ISNULL(SUM(jl.Credit), 0) AS Credit,
    CASE 
        WHEN a.Type IN ('Asset', 'Expense') THEN ISNULL(SUM(jl.Debit), 0) - ISNULL(SUM(jl.Credit), 0)
        WHEN a.Type IN ('Liability', 'Equity', 'Revenue') THEN ISNULL(SUM(jl.Credit), 0) - ISNULL(SUM(jl.Debit), 0)
        ELSE 0
    END AS Balance
FROM Accounts a
LEFT JOIN JournalLines jl ON jl.AccountId = a.Id
GROUP BY a.Id, a.Name, a.Type
ORDER BY a.Id, a.Type, a.Name;
End
GO
USE [master]
GO
